@layout("/common/layout.html"){
<div class="block-header">
    <h2>业务日志</h2>
</div>

<div class="card">
    <div class="card-body card-padding">
        <div class="row row-lg">
            <div class="col-sm-12">
                <div class="hidden-xs" id="OptLogTableToolbar" role="group">
                    <div class="col-sm-2">
                        <#TimeCon id="beginTime" name="开始时间" placeholder="开始时间"/>
                    </div>
                    <div class="col-sm-2">
                        <#TimeCon id="endTime" name="结束时间" placeholder="结束时间"/>
                    </div>
                    <div class="col-sm-2">
                        <#NameCon id="logName" name="日志名称" placeholder="日志名称" />
                    </div>
                    <div class="col-sm-2">
                        <#SelectCon id="logType" name="日志类型" placeholder="日志类型" >
                            <option value="0">日志类型</option>
                            <option value="1">业务日志</option>
                            <option value="2">异常日志</option>
                        </#SelectCon>
                    </div>
                    <#button name="搜索" icon="fa-search" clickFun="OptLog.search()"/>
                    <#button name="重置" icon="fa-refresh" clickFun="OptLog.reset()" btnCss="info" space="true"/>

                    @if(shiro.hasPermission("/log/delLog")){
                        <#button name="清空日志" icon="fa-remove" btnCss="danger"  clickFun="OptLog.delLog()" space="true"/>
                    @}
                </div>
                <#table id="OptLogTable"/>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/log/log.js"></script>
@}
