@layout("/common/layout.html"){
<div class="block-header">
    <h2>参数管理</h2>
</div>

<div class="card">
    <div class="card-body card-padding">
        <div class="row row-lg">
            <div class="col-sm-12">
                <div class="hidden-xs" id="CfgTableToolbar" role="group">
                    <div class="col-sm-3">
                        <#NameCon id="cfgName" placeholder="参数名" />
                    </div>
                    <div class="col-sm-3">
                        <#NameCon id="cfgValue" placeholder="参数值" />
                    </div>
                    <#button name="搜索" icon="fa-search" clickFun="Cfg.search()"/>
                    <#button name="重置" icon="fa-refresh" clickFun="Cfg.reset()" btnCss="info" space="true"/>
                    @if(shiro.hasPermission("/cfg/add")){
                        <#button name="添加" icon="fa-plus" clickFun="Cfg.openAddCfg()" space="true"/>
                    @}
                </div>
                <#table id="CfgTable"/>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/cfg/cfg.js"></script>
@}
