<aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                @if (shiro.getUser().profile.avatar=="avatar.png" ){
                <img src="${ctxPath}/static/img/avatar.png">

                @}else{
                <img src="${ctxPath}/kaptcha/${shiro.getUser().profile.avatar}">
                @}
            </div>

            <div class="profile-info">
                ${shiro.getUser().name}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="${ctxPath}/mgr/user_info"><i class="zmdi zmdi-input-antenna"></i> 个人资料</a>
            </li>
            <li>
                <a href="${ctxPath}/mgr/user_chpwd"><i class="zmdi zmdi-settings"></i> 修改密码</a>
            </li>
            <li>
                <a href="${ctxPath}/logout"><i class="zmdi zmdi-time-restore"></i> 退出登陆</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        @for(title in shiro.getUser().titles){
            @if(tool.isEmpty(title.children)){
                <li><a href="${ctxPath}${title.url}"><i class="fa ${title.icon}"></i> ${title.name}</a></li>
            @}else{
                <li class="sub-menu">
                    <a href=""><i class="fa ${title.icon}"></i> ${title.name}</a>
                    <ul>
                      @for(subTitle in title.children){
                        <li><a href="${ctxPath}${subTitle.url}">${subTitle.name}</a></li>
                      @}
                    </ul>
                </li>

            @}
        @}

        <li>
            <a target="_blank" href="http://enilu.gitee.io/guns-lite"><i class="zmdi zmdi-arrow-out"></i> 在线文档</a>
        </li>
    </ul>
</aside>